<a href="https://colab.research.google.com/github/RagunathAnbarasu/colab/blob/main/PC_EDA_proteinData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import scipy.stats as stats
from sklearn.impute import SimpleImputer

In [ ]:
original_df = pd.read_csv("/content/drive/MyDrive/pattern classification/csv_result-Descriptors_Training.csv")
#original_df = pd.read_csv("/content/drive/MyDrive/pattern classification/csv_result-Descriptors_Calibration.csv")

In [ ]:
original_df.head

<bound method NDFrame.head of           id  IP_ES_25_N1  Z3_IB_4_N1  ...  Pb_NO_PCR_V  ECI_NO_PCR_CV  class
0          1         5.59       14.91  ...         0.02           0.59      P
1          2         4.81       16.87  ...         0.02           0.62      P
2          3         5.36       13.81  ...         0.01           0.56      P
3          4         6.10       73.66  ...         0.02           0.65      P
4          5        -2.00       16.41  ...         0.01           0.65      P
...      ...          ...         ...  ...          ...            ...    ...
19983  19984         5.82      131.77  ...         0.01           0.55      N
19984  19985         4.62       20.30  ...         0.02           0.58      N
19985  19986         6.69       34.23  ...         0.01           0.57      N
19986  19987        -0.19       11.67  ...         0.02           0.57      N
19987  19988         6.37      259.26  ...         0.01           0.45      N

[19988 rows x 30 columns]>

In [ ]:
print(original_df.shape)

(19988, 30)

In [ ]:
original_df.describe(include='all').T

                    count unique  top  ...     50%      75%          max
id                  19988    NaN  NaN  ...  9994.5  14991.2        19988
IP_ES_25_N1         19988    NaN  NaN  ...    5.67     6.47        18.69
Z3_IB_4_N1          19988    NaN  NaN  ...   20.25    29.34       1275.3
Z1_IB_10_N1         19988    NaN  NaN  ...    9.23    11.45       333.33
Z1_IB_5_N1          19988    NaN  NaN  ...    9.29    11.47       333.33
Z3_IB_8_N1          19988    NaN  NaN  ...  19.865    28.85       340.08
ECI_IB_4_N1         19988    NaN  NaN  ...   45.05    78.27      2333.33
ECI_IB_5_N1         19988    NaN  NaN  ...   44.52    77.56      2333.33
Gs(U)_IB_12_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Gs(U)_IB_68_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Gs(U)_IB_58_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Gs(U)_IB_60_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Z1_NO_sideL35_M     19988    NaN  NaN  ...    1.01     1.74      4607.05
HP_NO_sideL35_CV    19988    NaN  NaN  ...   -3.65    -1.54  2.80225e+17
Z1_NO_sideR35_CV    19988    NaN  NaN  ...    3.74   8.0525  1.21199e+17
Pb_NO_sideR35_S     19988    NaN  NaN  ...    0.81     1.04         5.36
IP_NO_sideL35_SI71  19988    NaN  NaN  ...    0.55     0.59          0.7
Z1_NO_PRT_CV        19988    NaN  NaN  ...    4.35     9.57      21801.2
Z2_NO_AHR_CV        19988    NaN  NaN  ...   -2.19     5.08  9.20228e+15
Gs(U)_NO_ALR_SI71   19988    NaN  NaN  ...    0.51     0.54         0.87
Z3_NO_UCR_S         19988    NaN  NaN  ...    1.07     1.41         4.14
Z3_NO_UCR_N1        19988    NaN  NaN  ...    4.33     8.76        58.39
ECI_NO_UCR_CV       19988    NaN  NaN  ...    0.43     0.49         1.06
Pa_NO_BSR_SI71      19988    NaN  NaN  ...    0.53     0.58            1
ISA_NO_NPR_S        19988    NaN  NaN  ...   -0.71    -0.42         5.45
Z3_NO_NPR_V         19988    NaN  NaN  ...    1.09      1.4          3.1
IP_NO_PLR_S         19988    NaN  NaN  ...    0.55     0.72         2.67
Pb_NO_PCR_V         19988    NaN  NaN  ...    0.02     0.02         0.05
ECI_NO_PCR_CV       19988    NaN  NaN  ...     0.6     0.63         0.74
class               19988      2    N  ...     NaN      NaN          NaN

[30 rows x 11 columns]

In [ ]:
original_df.columns

Index(['id', 'IP_ES_25_N1', 'Z3_IB_4_N1', 'Z1_IB_10_N1', 'Z1_IB_5_N1',
       'Z3_IB_8_N1', 'ECI_IB_4_N1', 'ECI_IB_5_N1', 'Gs(U)_IB_12_N1',
       'Gs(U)_IB_68_N1', 'Gs(U)_IB_58_N1', 'Gs(U)_IB_60_N1', 'Z1_NO_sideL35_M',
       'HP_NO_sideL35_CV', 'Z1_NO_sideR35_CV', 'Pb_NO_sideR35_S',
       'IP_NO_sideL35_SI71', 'Z1_NO_PRT_CV', 'Z2_NO_AHR_CV',
       'Gs(U)_NO_ALR_SI71', 'Z3_NO_UCR_S', 'Z3_NO_UCR_N1', 'ECI_NO_UCR_CV',
       'Pa_NO_BSR_SI71', 'ISA_NO_NPR_S', 'Z3_NO_NPR_V', 'IP_NO_PLR_S',
       'Pb_NO_PCR_V', 'ECI_NO_PCR_CV', 'class'],
      dtype='object')

In [ ]:
df_without_id = original_df.drop(['id'], 1)

In [ ]:
def detect_outlier_iterative_IQR(df, cutoff_ratio = 1.07):
#    from sklearn.impute import SimpleImputer
#    imp = SimpleImputer(missing_values=-1, strategy='mean')
    df_copy = df.copy()
    df_prev = pd.DataFrame({'' : []})
    n1 = 1.0
    while True:
        stat = df_copy.describe()
        df_prev = df_copy.copy()
        for column in df.iloc[:, :-1]:
            median, min25, max75 = stat[column]['50%'], stat[column]['25%'], stat[column]['75%']
            iqr = abs(max75-min25)*1.5
            upper_bound = median + iqr
            lower_bound = median - iqr
            df_copy[column] = df_copy[column].mask(df_copy[column] > upper_bound, np.nan)
            df_copy[column] = df_copy[column].mask(df_copy[column] < lower_bound, np.nan)
        n2 = df_copy.isnull().sum().sum()
        r = n2/n1
        n1 = n2*1.0
        if r < cutoff_ratio:
            break
    return df_prev

In [ ]:
def handle_outlier(df):
    df_copy = df.copy()
    #drop samples with missing values > 10 
    df_copy = df_copy.dropna(thresh=20)
    stat = df_copy.describe()
    for column in df_copy.iloc[:, :-1]:
        median = stat[column]['50%']
        df_copy[column] = df_copy[column].fillna(median) 
    return df_copy

In [ ]:
 df_without_outliers = handle_outlier(detect_outlier_iterative_IQR(df_without_id))

In [ ]:
print(df_without_outliers.shape)

(18502, 29)

In [ ]:
df_class_replaced = df_without_outliers.replace(['P', 'N'], [1, 0])

In [ ]:
def standardize(df):
    # Feature Scaling
    from sklearn.preprocessing import StandardScaler
    x = df.values
    sc = StandardScaler()
    x_scaled = sc.fit_transform(x)
    new_df = pd.DataFrame(x_scaled)
    new_df.columns = df.columns
    if new_df.columns[-1]=='class': #adjust class
        new_df.iloc[:,-1] = new_df.iloc[:,-1].mask(new_df.iloc[:,-1] > sc.mean_[-1], 1)
        new_df.iloc[:,-1] = new_df.iloc[:,-1].mask(new_df.iloc[:,-1] < sc.mean_[-1], 0)
    return new_df

In [ ]:
standardized_df = standardize(df_class_replaced)

In [ ]:
standardized_df.head

<bound method NDFrame.head of        IP_ES_25_N1  Z3_IB_4_N1  Z1_IB_10_N1  ...  Pb_NO_PCR_V  ECI_NO_PCR_CV  class
0        -0.076272   -0.673374    -0.102153  ...     0.763439      -0.623598    1.0
1        -1.332139   -0.329130    -1.485264  ...     0.763439       0.481803    1.0
2        -0.446591   -0.866572    -0.405921  ...    -1.201115      -1.729000    1.0
3         0.744873   -0.132419    -1.595137  ...     0.763439       1.587205    1.0
4         0.020334   -0.409922    -0.237879  ...    -1.201115       1.587205    1.0
...            ...         ...          ...  ...          ...            ...    ...
18497     0.294048    1.515034    -1.420633  ...     0.763439       0.850271    0.0
18498     0.020334    2.208791     0.518308  ...    -1.201115       0.481803    0.0
18499     0.294048   -0.132419     0.957801  ...    -1.201115      -2.097467    0.0
18500    -1.638055    0.273297     0.330877  ...     0.763439      -0.992065    0.0
18501     0.020334   -1.242431    -1.517580  ...     0.763439      -1.360533    0.0

[18502 rows x 29 columns]>

In [ ]:
standardized_df.to_csv('Standardized_train.csv',index=False)
#standardized_df.to_csv('Standardized_val.csv',index=False)
#standardized_df.to_csv('Standardized_blind.csv',index=False)

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif, mutual_info_classif, VarianceThreshold, RFE, RFECV
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.decomposition import PCA, KernelPCA, IncrementalPCA

In [ ]:
def pca_kernel(df, kernel='rbf'):
    if 'class' in df:
        X = df.drop(['class'], axis=1)
    else:
        X = df
   
    kpca = KernelPCA(kernel=kernel, fit_inverse_transform=True, gamma=10)
    X_kpca = kpca.fit_transform(X)
    X_back = kpca.inverse_transform(X_kpca)
    
    columns = []
    for i in range(1, len(X_back[0])+1):
        columns.append('pca-'+ kernel +str(i))
    X_back = pd.DataFrame(data = X_back, columns = columns)
    
    if 'class' in df:
        new = pd.concat([X_back, df['class']], axis=1)
    else:
        new = X_back
    
    return new

In [ ]:
pca_cos_features = pca_kernel(standardized_df, kernel='cosine')

In [ ]:
features = pca_cos_features[['pca-cosine13', 'pca-cosine18', 'pca-cosine15', 'pca-cosine12', 'pca-cosine26']]

In [ ]:
features.to_csv('optimal-features.csv')

In [ ]:
pca_cos_features

      pca-cosine1  pca-cosine2  pca-cosine3  ...  pca-cosine27  pca-cosine28  class
0        0.041980    -0.975522     0.161847  ...      0.747011      0.326518    1.0
1       -1.251708    -0.204673     0.071101  ...     -1.315322      0.829344    1.0
2        0.027457     0.521429    -0.760460  ...      0.872566     -1.665280    1.0
3        1.905545    -0.116158    -1.477142  ...     -0.983776      0.274415    1.0
4       -0.818089    -0.167814    -0.610657  ...      0.667813      0.658106    1.0
...           ...          ...          ...  ...           ...           ...    ...
4626     0.048116    -0.382294    -0.550106  ...      0.866220      0.892274    0.0
4627     0.036214    -0.365198    -1.451091  ...      0.806174      0.342944    0.0
4628     0.008589    -0.490679     0.359613  ...     -1.312437      0.356320    0.0
4629     0.160397    -0.176492     0.630490  ...     -1.297706      1.778249    0.0
4630    -1.121486     1.410863     0.844118  ...      0.770337      0.346840    0.0

[4631 rows x 29 columns]